 .u-section-1 {
  background-image: url("/images/gdfu1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-shadow: 4px 2px 4px rgba(0,0,0,0.85);
  margin: 218px auto 0 calc(((100% - 1140px) / 2) + 474px);
}

.u-section-1 .u-group-1 {
  width: 438px;
  min-height: 76px;
  background-image: linear-gradient(#ac58f5, #7852f6);
  margin: 24px auto 0 calc(((100% - 1140px) / 2) + 342px);
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  text-shadow: 3px 2px 8px rgba(0,0,0,1);
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  background-image: none;
  margin: 67px auto 0 calc(((100% - 1140px) / 2) + 333px);
}

.u-section-1 .u-group-2 {
  min-height: 228px;
  background-image: linear-gradient(#ac58f5, #7852f6);
  width: 472px;
  margin: 24px auto 0 calc(((100% - 1140px) / 2) + 325px);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  text-shadow: 3px 2px 8px rgba(0,0,0,0.95);
  margin: -1px -133px 0 7px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 145px auto 50px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1rem;
  margin: -1107px 1641px 60px -252px;
}

.u-section-1 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-weight: normal;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 391px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 342px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2) + 275px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2) + 325px);
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 1541px;
    margin-left: calc(((100% - 340px) / 2) + 58px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 299px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 282px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + 211px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2) + 248px);
  }

  .u-section-1 .u-text-6 {
    margin-right: 1431px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 224px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 102px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2) + 158px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 540px) / 2) + 68px);
  }

  .u-section-1 .u-text-6 {
    margin-right: 1341px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 773px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 136px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 37px;
    margin-right: calc(((100% - 340px) / 2) + -144px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    min-height: 218px;
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: 99px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
    margin: -305px auto 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    font-weight: 700;
    font-size: 1.875rem;
    margin: 0 auto 60px;
  }
}
